SUPABASE_URL=https://kopdmeuihtkmpisaedxo.supabase.co
SUPABASE_SERVICE_KEY=OBTENHA_NO_SUPABASE_DASHBOARD_SETTINGS_API
JWT_SECRET=e8336c2e60e7abc866f1549173e3d99e150f929e4aa66cb36bd47146e37e2cd4
PORT=4000
